@using System.Data.Entity.Core.Metadata.Edm
@model Cribs.Web.ViewModels.CreateCribViewModel
@{
    ViewBag.Title = "Create";
    var integers = new[] { 1, 2,3,4,5,6,7,8,9 }.Select(x => new SelectListItem
    {
        Value = x.ToString(),
        Text = x.ToString()
    });
    var Values = new SelectList(integers, "Value", "Text");
}

<div class="row">
    @using (Html.BeginForm("Create", "Cribs", FormMethod.Post, new { id= "CribCreateForm", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="col m6 s12 offset-m3">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h4>Add new</h4>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="input-field  col s12 m6 l6">
                    <label for="Title">Title</label>
                    @Html.EditorFor(m => m.Title, new {@class = "validate"})
                </div>
                <div class="input-field col s12 m6 l6">
                    <label for="MonthlyRent">Monthly Rent</label>
                    @Html.EditorFor(m => m.MonthlyRent)
                </div>
            </div>
            <div class="row">
                <div class="input-field  col s12 m6 l6">
                    @Html.LabelFor(x => x.AvailableDate)
                    <input id="AvailableDate" name="AvailableDate" type="date" class="datepicker">
                </div>
                <div class="input-field col s12 m6 l6">
                    <label for="Location">Number of rooms</label>
                    @Html.EditorFor(m => m.NumberOfRooms)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <label for="Location">Location</label>
                    @Html.EditorFor(m => m.Location)
                </div>
            </div>
            <div class="row">
                <div class="input-field  col s12 m12 l12">
                    <label for="Description">Description</label>
                    <textarea id="Description" name="Description" class="materialize-textarea" length="500"></textarea>
                </div>
            </div>
            <fieldset>
                <legend class="cyan-text">Photos</legend>
                <div class="row">
                    <div class="input-field file-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                        <input class="file-path validate" type="text"/>
                        <div class="btn">
                            <span>Cover</span>
                            @Html.TextBoxFor(m=>m.MainImage, new { type = "file"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field file-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                        <input class="file-path validate" type="text"/>
                        <div class="btn">
                            <span>Select</span>
                            @Html.TextBoxFor(m => m.Image1, new { type = "file" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field file-field col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                        <input class="file-path validate" type="text" />
                        <div class="btn">
                            <span>Select</span>
                            @Html.TextBoxFor(m => m.Image2, new { type = "file" })
                        </div>
                    </div>
                </div>
            </fieldset>
          
            <div class="row">
                <div class="input-field  col s12 m12 l12">
                    <a id="Reset" class="btn-large waves-effect waves-light cyan">Reset</a>
                    <button id="Create" class="btn-large waves-effect waves-light cyan">Create</button>
                </div>
            </div>
        </div>
    
    }
</div>
<script type="text/javascript">
   $(document).ready(function() {
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15

        });

   });
</script>
