<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css/")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/cribs")

    <script type="text/javascript">
        function SearchCribs() {
            InitializeSearchParams();
            event.preventDefault();
            $('#PreLoader').openModal();

            $.ajax({
                url: "@Url.Action("Search", "Cribs")",
                data: jQuery.param(SearchParams),
                type: "post",
                success: function(result) {
                    $("#Contents").html(result);
                    $('#PreLoader').closeModal();
                }
            });
        }
    </script>
</head>

<body>
<div class="navbar-fixed">
    <nav class="cyan">
        <div class="nav-wrapper">
            @Html.ActionLink("CribHood", "Index", "Cribs", new { area = "" }, new { @class = "brand-logo center" })
            <ul id="menu" class="side-nav">
                <li>@Html.ActionLink("Home", "Index", "Cribs")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <ul id="search" class="side-nav">
                <li class="logo">
                    <a href="#">
                        <i class="material-icons">search</i>
                    </a>
                </li>
                <li>
                    <input placeholder="Min Price" id="MinPrice" type="text">
                </li>
                <li>
                    <input placeholder="Max Price" id="MaxPrice" type="text">
                </li>
                <li>
                    <input placeholder="Number Of rooms" id="NumberOfRooms" type="text">
                </li>
                <li>
                    <input placeholder="Address" id="Address" type="text">
                </li>
                <li>
                    <input placeholder="KeyWord" id="KeyWord" type="text">
                </li>
                <li>
                    <a id="SearchExec" class="btn-large waves-effect waves-light cyan">Search <i class="material-icons">search</i></a>
                </li>
            </ul>

            <a href="#" data-activates="menu" id="menu-collapse" class="button-collapse show-on-large">
                <i class="mdi-navigation-menu"></i>
            </a>
            <a href="#" data-activates="search" id="search-collapse" class="button-collapse show-on-large right">
                <i class="material-icons">search</i>
            </a>
            <a href="#" data-activates="search" id="search-collapse" class="button-collapse show-on-large right">
                <i class="mdi mdi-facebook"></i>
            </a>
        </div>
    </nav>
</div>
<div class="container">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/datetime")
@Scripts.Render("~/bundles/materialize")
@RenderSection("scripts", false)
<script type="text/javascript">
    $(document).ready(function() {
        $("#search-collapse").sideNav({ edge: 'right', menuWidth: 220, closeOnClick: true });
        $("#menu-collapse").sideNav({ edge: 'left', menuWidth: 220 });
        $('textarea #Description').characterCounter();
        $("input[type=file]").change(function () {
            Preview(this);
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15

        });

        $("#SearchExec").click(function () {
            SearchCribs();
        });
     
        $('.materialboxed').materialbox();

    });
</Script>
</body>
</html>