@model Cribs.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {role = "form"}))
    {
        @Html.AntiForgeryToken()
        <div class="col m6 s12 offset-m3">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h4>Change Password Form</h4>
                    <hr/>
                    @Html.ValidationSummary("", new {@class = "red-text"})
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">

                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">

                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <input type="submit" value="Change password" class="btn cyan"/>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}