@model Cribs.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col m6 s12 offset-m3">
        <div class="row">
            <div class="col s12 m12 l12">
                <h4><i class="material-icons">settings</i>Change account settings</h4>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 l6">
                Password:<i class="material-icons">lock</i>
            </div>
            <div class="col s12 m6 l6">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                External Logins:<i class="material-icons">vpn_key</i>
            </div>
            <div class="col s12 m6 l6">
                @Html.ActionLink("Manage", "ManageLogins")
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                Phone Number:<i class="material-icons">settings_phone</i>
            </div>
            <div class="col s12 m6 l6">
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                Two-Factor Authentication:
            </div>
            <div class="col s12 m6 l6">
                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Disable" class="btn btn-link"/>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        @Html.AntiForgeryToken()

                        <input type="submit" value="Enable" class="btn cyan"/>
                    }
                }
            </div>
        </div>
    </div>
</div>